.filter-bar {
  @media (max-width: 960px) {
    padding: 20px;
  }
  .notVisible {
    @media (max-width: 960px) {
      display: none;
    }
  }
  background-color: #eaeaea;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 5px;

  .MuiOutlinedInput-root {
    margin-right: 20px !important;
  }

  .MuiInputBase-input {
    background-color: white;
  }

  .MuiSelect-select:focus {
    background-color: white !important;
  }

  .nbMedia {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 9px;
  }

  .count {
    background-color: #ad111d;
    border-radius: 50%;
    padding: 9px;
    color: white;
    font-weight: 800;
    margin-right: 5px;
    margin-left: 5px;
  }
}
