.PrivateNotchedOutline-root-5 {
  background-color: white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.PrivateNotchedOutline-legendLabelled-7 .PrivateNotchedOutline-legendNotched-8 {
  color: white !important;
}

.MuiFormLabel-root.Mui-focused {
  display: none;
}
