.navBar {
  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #ab1520 !important;
  }

  .MuiToolbar-root {
    height: 100px;
  }

  .MuiButtonBase-root {
    padding: 40px;
  }

  .link {
    text-decoration: none !important;
  }
}
