.container-pagination {
  display: flex;
  .pagination-ro {
    margin: 5px;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: white;
    border: solid 1px #333030;
    color: #383434;
    border-radius: 5px;
    cursor: pointer;
    &.active {
      background-color: #323030;
      color: white;
      cursor: default;
    }
  }

  .dotsPagination {
    margin: 5px;
    margin-top: 30px;
    padding: 10px 15px;
  }

  .group {
    display: flex;
  }
}
