.podcastCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06), 0px 2px 14px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.1);
  // --- Header ---- //
  .header {
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .wrap {
      display: flex;
      align-items: center;
      .btn-play {
        background-color: #ac111b !important;
        color: white !important;
        border-radius: 40px;
        .MuiIconButton-label {
          color: white;
        }
      }

      .group {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 10px;
        .title {
          font-size: 14px;
          font-weight: 800;
        }
        .date {
          font-size: 13px;
          color: #615c5c;
        }
      }
    }
    .duration {
      display: flex;
      align-items: center;
      font-size: 15px;
      svg {
        margin-right: 5px;
      }
    }
  }
  // --- Cover podcast ---- //
  .coverPodcast {
    min-height: 170px;
    background-color: #ddd;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content {
    padding: 0px 30px;
    h2 {
    }
    p {
      font-size: 15px;
      text-align: justify;
    }
  }

  .footer {
    padding: 30px;
  }
}
