.MuiTabs-root {
  margin-top: -60px !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #ab1520 !important;
}

.PrivateTabIndicator-colorPrimary-7 {
  background-color: #ab1520 !important;
}

.PrivateTabIndicator-colorPrimary-11 {
  background-color: #ab1520 !important;
}
