.programCard {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06), 0px 2px 14px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.1);
}
.btn-center {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
