.programCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06), 0px 2px 14px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.1);

  // --- Cover podcast ---- //
  .coverProgram {
    min-height: 150px;
    background-color: #ddd;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content {
    padding: 0px 30px;
    h2 {
    }
    p {
      font-size: 15px;
      text-align: justify;
    }

    .anim {
      margin-top: 5px;
      font-size: 12px;
      color: #4a4a4a;
      margin-bottom: 15px;
    }

    .tagAnimateur {
      font-size: 12px;
      border-radius: 5px;
      padding: 6px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: -12px;
      opacity: 0.6;
      span {
        margin-right: 5px;

        transform: scale(0.9);
        margin-top: 2px;
      }
    }
  }
}
