.title-page {
  margin-bottom: 60px !important;
  margin-top: -60px;
  width: 100%;
  background-color: #181827;
  color: white;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
